body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

a.cc-logo {
    background: url(../Content/cc.gif) no-repeat top left;
    display: block;
    width: 200px;
    height: 50px;
    margin-top: 2px;
    background-size: 50px;
    padding-left: 60px;
    color: #0072B4 !important;
}

    a.cc-logo:hover {
        opacity: 0.9 !important;
    }

.navbar-nav > li > a {
    padding-top: 18px;
    padding-bottom: 15px;
}


.user-tumb {
    width: 35px;
    height: 35px;
    padding: 0;
    display: table-cell;
    text-align: center;
    margin: 0 auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.details-icon {
    margin-right: 10px;
    margin-top: 10px;
}

.button-icon {
    margin-right: 10px;
}

.gi-2x {
    font-size: 2em;
}

.gi-3x {
    font-size: 3em;
}

.gi-4x {
    font-size: 4em;
}

.gi-5x {
    font-size: 5em;
}

.navbar-inverse {
    background-color: #094502;
    border-color: #094502;
}

a:hover, a:focus {
    text-decoration: none;
}
