<div class="container">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="logo">
            <h1>404! Not Found</h1>
        </div>
        <div class="clearfix"></div>
        <br><br>
        <p class="text-muted">The page you are looking for is temporarily unavailable or may have never existed at all. If you are sure this page exist, feel free to contact us!</p>
    </div>
</div>