<div class="container">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="logo">
            <h1>OPPS, Error</h1>
        </div>
        <div class="clearfix"></div>
        <br><br>
        <p class="text-muted">Theere is some error here, Please try later. </p>
        <div class="clearfix"></div>
        <br><br>
        <div class="col-lg-6 col-lg-offset-3">
            <form action="#">

                <div class="input-group">
                    <input type="text" placeholder="search ..." class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><i class="icon-search"></i></button>
                    </span>
                </div>

            </form>
        </div>
        <div class="clearfix"></div>
        <br>
        <div class="col-lg-6  col-lg-offset-3">
            <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-success">Return Home</a>
            </div>

        </div>

    </div>


</div>