<div class="container">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="logo">
            <h1>No Permissions</h1>
        </div>
        <div class="clearfix"></div>
        <br><br>
        <p class="text-muted">It appears to us that you have no permissions to view this resource so we aint handing it ot ya... Sorry!</p>
    </div>
</div>