@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>

<address>
    TK Soft<br />
    Golo Burdo 6A<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Careers:</strong>   <a href="mailto:igtrendafi@gmail.com">igtrendafi@gmail.com</a><br />
    <strong>Support:</strong> <a href="mailto:mitakyt@gmail.com">mitakyt@gmail.com</a>
</address>