@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Club Challenge&reg;</h1>
    <p class="lead">
        If you are a tennis enthusiast Club Challenge is the social network made for you! You wanna join a club with your friends challenge them and keep track of your games? Well then, why not join us? Register and join your club. Challenge a teammate or maybe create a couples challenge. Win the games and get a reward for winning the leaderboards.
    </p>
    <p class="lead">
        <img src="Content/social-networks.jpg" class="img-responsive" alt="Club Challenge">
    </p>
    @if (!Request.IsAuthenticated)
    {
        <p class="lead">
            Do you have and account yet? Your friends are waiting for you!
        </p>

        <p><a href="Account/Login" class="btn btn-primary btn-large">Log in &raquo;</a></p>
    }
</div>
